html{
    background-color: rgb(26, 27, 27);
    color: rgb(244, 237, 225);
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(26, 27, 27);
    color: #DB7A1F;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar a{
    color: #DB7A1F;
    text-decoration: none;
}

a:visited{
    color: #DB7A1F;
    text-decoration: none;

}

.banner{
    background-color: rgb(143, 20, 18);
    margin-top: 50px;
    text-align: center;
    padding: 100px 0px;
}

.avatar{
    background-image: url(../images/asuka.jpg);
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;

}

.azukersec{
    padding: 20px;
}

#smallazuka{
    height: 100px;
    width:  100px;
    filter: drop-shadow(1px 1px 1px black);
}
#azuker{
    color: #DB7A1F;
    font-size: 100px;
}

#greets ul{
    list-style-type: none;
}

.bold{
    font-weight: 900;
}